.all-section {
  font-family: 'Poppins', sans-serif;
}

.hero {
  background-image: linear-gradient(180deg, #f2f2f2da, #f1f1f1ce) ,url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL1NClgRJCW3nlXPTtmnLZRM6BbBee5CcxeyKZrcqlUn8DLawwa-sa4Setm4bGJwWvrEo&usqp=CAU');
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  padding-bottom: 30px;
  margin: 0;
  display: flex;
}

.items {
  width: 100%;
}

.first-text {
  width: 500px;
  font-size: 30px;
  text-align: start;
  margin-left: 100px;
  line-height: 1.5;
  font-weight: 600;
}

.p-tag {
  width: 500px;
  text-align: start;
  font-size: 20px;
  margin-left: 100px;
}

.two-bottons {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 100px;
}

.botun {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  display: flex;
  font-size: 18px; 
  background-color: #0af030b7;
}

.botton-learn-more {
  padding: 15px 30px;
  margin-left: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  background-color: #d6dbe3;
}

.botton:hover {
  transform: translateY(3px);
  cursor: pointer;
}

.botun:hover,
.botton-learn-more:hover {
  transform: translateY(3px);
  cursor: pointer;
}

.image {
  width: 50%;
  margin: 40px 100px 0 0;
}

.icon {
  color: #3a3cbe;
  font-size: 20px;
}

#learn-more {
  width: 86%;
  margin: 30px auto;
  border-radius: 10px;
  padding: 20px;
  line-height: 30px;
  background: #f2f2f2da;
}

a {
  text-decoration: none;
  color: #000;
}

.how-it-work {
  font-size: 20px;
  line-height: 2.5rem;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 96vw;
  }

  * {
    border: 1px solid red;
  }

  .image {
    display: none;
  }

  .first-text {
    width: 96vw;
    padding: 20px 0px;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    text-align: start;
  }

  .p-tag {
    text-align: start;
    width: 94%;
    padding: 10px;
    margin: 0;
  }

  .two-bottons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    margin: 0;
  }

  .botton-learn-more {
    margin: 0;
  }
}